.containerlogin{
    width: 30%;
    margin: 180px auto;
}
.col{
    width: 100px;
    padding: 7px;
}
.col button{
    width: 100px;
    padding: 7px;
    display: inline;
}
label,input{
    padding: 7px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.container .btn{
    padding: 10px 30px;
    font-size: 16px;
    color: blue;
    background-color: bisque;
}
.konten{
    margin-top: 20px;
    padding: 10px;
    background-color: aliceblue;
}
.col-md{
    width: 100%;
    padding: 5px;
}
#button{
    font-size: 14px;
    padding: 7px;
    display: block;
    margin-left: 135px;
}